<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Money - ParkIQ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="dashboard-container">
    <h1>💰 Add Money to Wallet</h1>

    <form method="POST">
        <input type="number" name="amount" placeholder="Enter Amount" required>
        <br><br>
        <button type="submit">Add Money</button>
    </form>

    <br>
    <a href="/dashboard"><button>Back</button></a>
</div>

</body>
</html>