<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Booking History - ParkIQ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="dashboard-container">
    <h1>My Booking History</h1>

    {% for booking in bookings %}
    <div class="history-card">
        <p><strong>Slot:</strong> {{ booking[0] }}</p>
        <p><strong>Payment ID:</strong> {{ booking[1] }}</p>
    </div>
    {% endfor %}

    <a href="/">
        <button>Back Home</button>
    </a>
</div>

</body>
</html>