<!DOCTYPE html>
<html>
<head>
    <title>Processing Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<h2 style="text-align:center;">Redirecting to Payment...</h2>

<script>
var options = {
    "key": "{{ key_id }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "name": "ParkIQ",
    "description": "Monthly Parking Pass",
    "order_id": "{{ order_id }}",

    "handler": function (response){
        window.location.href = "/pass_success";
    },

    "theme": {
        "color": "#3399cc"
    }
};

var rzp = new Razorpay(options);
rzp.open();
</script>

</body>
</html>